/* Source: https://github.com/fosskers/dotfiles/blob/master/.config/wofi/style.css */

window {
  margin: 5px;
  border: 2px solid #f1f1f1;
  background-color: rgba(0, 0, 0, 0.75);
}

#input {
  margin: 5px;
  background: transparent;
  color: white;
}

#inner-box {
  margin: 5px;
}

#outer-box {
  margin: 5px;
  border: 2px transparent;
}

#scroll {
  margin: 5px;
}

#text {
  margin: 5px;
  color: #f1f1f1;
}

#entry:selected {
  background-color: rgba(0,0,0,0);
}

#text:selected {
  text-decoration: underline;
  text-decoration-color: #f1f1f1;
}
